@custom-variant dark (&:is(.dark *));

:root {
  
  --font-size-base: 16px;
  --text-black: #131523;
  --text-primary: #ffffff;
  --primary: #1F2435;
  --foreground: oklch(0.145 0 0);
  --sidebar-width: 250px;
  --icon-size: 110px;
}