.main-dashboard-statistics {
    display: grid;
    gap: 1rem;
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
  }
  
  .stats-overview {
      text-align: left;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      padding: 1rem;
      background-color: #f5f6fa;
  }
  
  .stats-overview p {
      margin: 0;
      padding: 0.5rem;
      color: #485ea9;
  }
  
  .stats-overview p:nth-child(1) {
      font-size: 2rem;
  }