@import './base.css';

#app {
  max-width: 1280px;
  font-weight: normal;
}

body {
  
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.title {

  font-weight: normal;
  margin: 10px 0 -10px 0;
  color: var(--text-black);
}

.subtitle {
  color: var(--sl-color-gray-500);
}

.listing-box {
    width: 100%;
}

.listing-box ul {

    list-style-type: none;
    padding: 0;
    
    display: grid;
    gap: 20px;
}

.opposed {
    display: flex;
    justify-content: space-between;
}

.listing-doubles {
    /* Only two columns */
    grid-template-columns: 1fr 1fr;
}

.listing-triples {
    /* Only three columns */
    grid-template-columns: 1fr 1fr 1fr;
}

.listing-item {
    width: 100%;
}

.item-description {
    color: var(--sl-color-gray-500);
    font-size: var(--font-size-sm);
}