.topbar {
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    padding: 0;
    background-color: var(--primary);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 0rem;
}

.topbar-logo {
    width: var(--sidebar-width);
    display: flex;
    justify-content: center;
}

.topbar-logo img {
    width: var(--icon-size);
}

.topbar-right {
    display: flex;
    align-items: center;
  }

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: var(--primary);
    padding-top: 60px;
    z-index: -2;
    overflow: hidden;
}

.info-popup .box {
    background: white;
    border-radius: var(--sl-border-radius-medium);
    box-shadow: var(--sl-shadow-large);
    padding: 10px;
}
.main-content {

    position: absolute;
    top: 80px;
    left: var(--sidebar-width);
  
    flex: 1;
    padding: 20px 25px;
    overflow-y: auto;
    background-color: #ffffff;
  
    width: calc(100% - var(--sidebar-width) - 50px);
    z-index: -1;
  }

.user-info {
    text-align: center;
    margin: auto 30px auto 0;
    
    padding: 10px;
    color: var(--text-primary);

    display: flex;
}

.user-info p {
    padding-left: 15px;
}


.user-info:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.notifications-info {
    text-align: center;
    margin: auto 70px auto 0;
    color: var(--text-primary);
    display: flex;
}

.notifications-info .notification-icon:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.notification-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.notification-item {
    border-bottom: 1px solid #dbdbdb;
    padding: 5px 10px;
    margin: 0;
    
}
.notification-item:last-child {
    border-bottom: none;
}

.notification-item:hover {
    background-color: #e9ecef;
}

.notification-menu-link {
    display: flex;
    flex-direction: column;
    justify-content: left;

    text-decoration: none;
    color: var(--text-primary);

    border-radius: var(--sl-border-radius-medium);
    cursor: pointer;
}

.notification-menu-link .name {
    font-size: 0.7em;
    font-weight: 600;
    color: black;
}
.notification-menu-link .email {
    font-size: 0.65em;
    color: gray;
}
.notification-menu-link .message {
    padding: 5px 0;
    font-size: 0.75em;
    color: gray;
}

.sidebar-menu {
    list-style: none;
    padding: 10px;
    margin: 20px 0;
}

.sidebar-menu-item {
    margin-bottom: 0.5rem;
}

.sidebar-menu-link {
    
    display: flex;
    justify-content: left;

    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--text-primary);

    border-radius: var(--sl-border-radius-medium);
    transition: background-color 0.2s;

    cursor: pointer;
}

.sidebar-menu-link p {
    font-size: var(--sl-font-size-medium);
    margin: auto 0 auto 5px;
}

.sidebar-separator {
    border: none;
    height: 2px;
    background-color: var(--primary-lighter);
    margin: 10px 0;
}

.link-active {
    background-color: #e9ecef;
    color: var(--text-black);
}

.sidebar-menu-link:not(.link-active):hover {
    /* Slightly lighen background */
    background-color: var(--primary-lighter);
}

.icon {
    margin: auto 0 auto 10px;
}

.info-popup .box {
    background: white;
    border-radius: var(--sl-border-radius-medium);
    box-shadow: var(--sl-shadow-large);
    padding: 10px;
}

.logout-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logout-button {
    width: 100%;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.no-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}

.no-results-image {
    width: 150px;
    height: 150px;
    opacity: 0.7;
    margin-bottom: 12px;
}

.no-results-text {
    font-size: 1.1rem;
    color: #888888;
    text-align: center;
}

.listing-search {
    margin-bottom: 1rem;
    color: gray;
}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
}